/**
* More Features
*/

.advanced-function-demo .demo-themes {
    width: 565px;
    height: 541px;
    background-image: url("../img/more-features/en_US/demo-themes.png");
}
.advanced-function-demo .demo-social-options {
    width: 859px;
    height: 466px;
    background-image: url("../img/more-features/en_US/demo-social-options.png");
}
.advanced-function-demo .demo-blurring-effect {
    width: 594px;
    height: 424px;
    background-image: url("../img/more-features/en_US/demo-blurring.png");
}
.advanced-function-demo .demo-advanced-options {
    width: 597px;
    height: 537px;
    background-image: url("../img/more-features/en_US/demo-visibility-options.png");
}

/**
 * Social Tabs
 */

.factory-flat #OPanda_SocialOptionsMetaBox {
    background: #f6f6f6;
}
.factory-flat #OPanda_SocialOptionsMetaBox  .nav-tabs li {
    background-color: transparent;
}
.onp-sl-metabox-hint {
    margin-bottom: 15px;
}

.factory-bootstrap-331 .factory-align-vertical .nav-tabs li {
    padding-left: 32px;
    background: url("../img/drag.png") 5px 50% no-repeat;
    cursor: move;
}
.factory-bootstrap-331 .sortable-placeholder {
    height: 40px;
    background: #f3f3f3 !important;
    margin: 0px !important;
    box-shadow: inset 0px 0px 7px rgba(0,0,0,0.15);
    border-bottom-left-radius: 4px;
}
.factory-bootstrap-331 .factory-align-vertical .nav-tabs {
    width: 150px;
}
.factory-bootstrap-331 .factory-align-vertical .nav-tabs li:hover {
    background-image: url("../img/drag-hover.png") !important;
}

.factory-bootstrap-331 .factory-align-vertical .nav-tabs a {
    background-image: url("../img/social-buttons-for-admin-en_US.png");
    background-position: -38px 0;
    height: 42px;
    -moz-transition: none;
    transition: none;
}
.factory-bootstrap-331 .factory-align-vertical .factory-bodies {
    min-height: 350px !important;
}
.factory-volumetric .factory-bootstrap-331 .factory-align-vertical .nav-tabs a {
    height: 22px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-tab-item-header-facebook-like a {
    background-position: -38px -1px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-tab-item-header-facebook-share a {
    background-position: -38px -41px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-tab-item-header-twitter-tweet a {
    background-position: -38px -81px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-tab-item-header-twitter-follow a {
    background-position: -38px -121px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-tab-item-header-google-plus a {
    background-position: -38px -161px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-tab-item-header-google-share a {
    background-position: -38px -201px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-tab-item-header-youtube-subscribe a {
    background-position: -38px -282px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-tab-item-header-linkedin-share a {
    background-position: -38px -241px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-disabled.factory-tab-item-header-facebook-like a {
    background-position: -195px -1px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-disabled.factory-tab-item-header-facebook-share a {
    background-position: -195px -41px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-disabled.factory-tab-item-header-twitter-tweet a {
    background-position: -195px -81px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-disabled.factory-tab-item-header-twitter-follow a {
    background-position: -195px -121px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-disabled.factory-tab-item-header-google-plus a {
    background-position: -195px -161px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-disabled.factory-tab-item-header-google-share a {
    background-position: -195px -201px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-disabled.factory-tab-item-header-youtube-subscribe a { 
    background-position: -195px -282px;
}
.factory-bootstrap-331 .factory-align-vertical .factory-disabled.factory-tab-item-header-linkedin-share a {
    background-position: -195px -241px;
}

.factory-bootstrap-331 .factory-align-vertical .nav-tabs li a {
    cursor: pointer;
}
.factory-bootstrap-331 .factory-align-vertical .nav-tabs {
    background-color: transparent;
}
.factory-bootstrap-331 .factory-align-vertical .pi-tab-hint {
    padding-left: 4px;
}

#optinpanda_facebook_like_title, 
#optinpanda_facebook_share_title,
#optinpanda_twitter_tweet_title,
#optinpanda_twitter_follow_title,
#optinpanda_google_plus_title,
#optinpanda_google_share_title,
#optinpanda_linkedin_share_title{
    width: 150px;
}

#optinpanda_twitter_tweet_text {
    height: 100px;
}

#vk-share .alert,
#facebook-like .alert,
#facebook-share .alert,
#youtube-subscribe .alert,
#google-share .alert {
    position: relative;
    top: -15px;
    margin-left: 5px;
}
.factory-volumetric #facebook-share .alert,
.factory-volumetric #google-share .alert {
    margin-bottom: 15px;
    line-height: 170%;
}

#OPanda_SocialOptionsMetaBox .factory-tab {
    margin-bottom: 0px;
}
#OPanda_SocialOptionsMetaBox .factory-tab .form-group:last-child {
    margin-bottom: 0px;  
}
#OPanda_SocialOptionsMetaBox .factory-control-show_counters {
    position: absolute;
    top: 11px;
    right: 37px;
    white-space: nowrap;
}
#OPanda_SocialOptionsMetaBox .factory-control-show_counters { 
    vertical-align: middle;
}
#OPanda_SocialOptionsMetaBox .factory-control-show_counters .control-group,
#OPanda_SocialOptionsMetaBox .factory-control-show_counters .control-label {
    width: auto;
    display: inline-block;
    padding: 0px;
    vertical-align: middle;
    float: none;
}
#OPanda_SocialOptionsMetaBox .factory-control-show_counters .control-label {
    font-weight: normal;
    margin-right: 10px;
}
#OPanda_SocialOptionsMetaBox .factory-control-show_counters .btn-group {
    padding: 0px;
    border: 0px;
}
#OPanda_SocialOptionsMetaBox .factory-control-show_counters .btn-group .btn {
    padding-top: 3px;
    padding-bottom: 3px;
}

#OPanda_SocialOptionsMetaBox .factory-control-show_counters .btn-group .btn {
    background: #fafafa;
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    -webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
    box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
    vertical-align: top;
} 
#OPanda_SocialOptionsMetaBox .factory-control-show_counters .btn-group .btn:hover,
#OPanda_SocialOptionsMetaBox .factory-control-show_counters .btn-group .btn:focus,
#OPanda_SocialOptionsMetaBox .factory-control-show_counters .btn-group .btn:active,
#OPanda_SocialOptionsMetaBox .factory-control-show_counters .btn-group .btn.active {
    background: #fafafa;
    border-color: #999;
    color: #222;
}
#OPanda_SocialOptionsMetaBox .factory-control-show_counters .btn-group .btn:active,
#OPanda_SocialOptionsMetaBox .factory-control-show_counters .btn-group .btn.active {
  background-color: #fff;
  border-color: #dbdbdb;
}

.factory-volumetric #OPanda_SocialOptionsMetaBox .factory-control-show_counters .control-label {
	padding-top: 6px;
	font-size: 12px;
}
.factory-volumetric #OPanda_SocialOptionsMetaBox .factory-control-show_counters .controls {
	margin-left: 0px;
	display: inline-block;
	vertical-align: middle;
}
.factory-volumetric #OPanda_SocialOptionsMetaBox .factory-control-show_counters {
	right: 22px;
	top: 7px;
}
.factory-volumetric #OPanda_SocialOptionsMetaBox .factory-control-show_counters .btn  {
	font-size: 12px;
}
