/**
 * CSS for Opt-In Panda Statistics
 * 
 * @author Paul Kashtanoff <paul@byonepress.com>
 * @copyright (c) 2013, OnePress Ltd
 * 
 * @package optinpanda 
 * @since 1.0.0
 */

/** 
*  Control Panel
*/ 

#opanda-control-panel {
    height: 28px;
    padding-top: 0px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#opanda-control-panel .opanda-left {
    float: left;
}
#opanda-control-panel .opanda-right {
    float: right;
}

#opanda-control-panel .opanda-left > *,
#opanda-control-panel .opanda-right > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 28px;
}

#opanda-current-item a {
    text-decoration: none;
}
#opanda-current-item a:hover {
    text-decoration: underline;   
}

#opanda-item-selector {
    position: relative;
    top: -1px;
}

/** 
* Chart description
*/ 

#opanda-chart-description {
    background-color: #fff;
    margin-top: 15px;
    padding: 8px 20px 7px 20px;
}

/** 
* Chart Area
*/ 

#onp-sl-chart-area {
    background-color: #fff;
    padding: 0 20px;
    border-top: 1px solid #f4f4f4;
    border-bottom: 2px solid #e9e9e9;
}
#onp-sl-settings-bar {
    height: 55px;
    padding-top: 10px;
    margin-top: 10px;
    -webkit-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#onp-sl-settings-bar  .btn {
    padding: 3px 10px 4px 10px;
}
.factory-volumetric #onp-sl-settings-bar  .btn {
    padding: 3px 8px;
}

/* Type Select */

#onp-sl-type-select {
    float: left;
    white-space: nowrap;
    border: 0px;
    position: relative;
    top: -6px;
}
#onp-sl-type-select .fa {
    font-size: 14px;
    margin-right: 3px;
}
#onp-sl-type-select > * {
    display: inline-block;
}

/* Date Select */

#onp-sl-date-select {
    float: right;
}
#onp-sl-date-select > * {
    display: inline-block; 
    vertical-align: top;
}
.onp-sl-range-label {
    position: relative;
    margin-right: 8px;
    top: 4px;
}
#onp-sl-date-start, #onp-sl-date-end {
    width: 120px;
    height: 28px;
}
#onp-sl-apply-dates {
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}
#onp-sl-apply-dates .fa {
    margin-right: 3px;
    position: relative;
    top: 1px;
}
.chart-wrap {
    margin-bottom: 20px;
    margin-top: 20px;
}

/**
* Charts selector
*/

#onp-sl-chart-selector {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 100%;
}
#onp-sl-chart-selector .onp-sl-selector-item {
    display: inline-block;
    clear: both;
    cursor: pointer;
    padding: 7px;
    border-radius: 3px;
    color: #d0d0d0;
}
#onp-sl-chart-selector .onp-sl-selector-item.opanda-active {
    color: #111;
    background-color: #f9f9f9;
}
#onp-sl-chart-selector .onp-sl-selector-item:hover {
    background-color: #fbfbfb;
}
#onp-sl-chart-selector .onp-sl-selector-item {
    margin: 3px;
    line-height: 100%;
    vertical-align: middle;
    position: relative;
    left: -3px;
    top: -3px;
}
#onp-sl-chart-selector .chart-color {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
    position: relative;
    top: -1px;
}
#onp-sl-chart-selector .onp-sl-selector-item.opanda-inactive .chart-color {
    background-color: #e5e5e5 !important;
}

.onp-chart-hint {
    margin-top: 5px;
    display: inline-block;
    background-color: #ffffdd;
    padding: 2px 8px;
    width: 100%;
    display: none;
}

/**
* Posts
*/

#opanda-data-table-wrap {
    background: #f6f6f6;
}
#opanda-pagination-wrap {
    text-align: right;
}
#opanda-pagination-wrap .pagination {
    margin-bottom: 0px;
    text-align: right;
    margin-top: 10px;
}
#opanda-data-table {
    background-color: #fff;
    width: 100%;
    padding: 0px;
    border-collapse: collapse;
    border-bottom: 2px solid #e5e5e5;
}
#opanda-data-table thead tr + tr {
    border-top: 1px solid #f1f1f1;
}
#opanda-data-table th {
    text-align: left;
    padding: 8px 10px 8px 6px;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;
}
#opanda-data-table th.opanda-col-number {
    text-align: right;
    white-space: nowrap;
} 
#opanda-data-table th.opanda-col-common {
    text-align: center;
}
#opanda-data-table td {
    text-align: right;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 13px;
}
#opanda-data-table td,
#opanda-data-table th {
    padding: 9px 20px;
}
#opanda-data-table th .opanda-hint {
    background: url('../img/help.png') no-repeat 0 0 transparent;
    margin-left: 3px;
    opacity: 0.55;
    position: relative;
    height: 14px;
    width: 13px;
    overflow: hidden;
    display: inline-block;
    cursor: help;
    vertical-align: middle;
    top: -1px;
}
#opanda-data-table tbody tr {

    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}
#opanda-data-table tbody tr:nth-child(odd) {
    background-color: #fafafa;
}
#opanda-data-table .opanda-col-index {
    width: 1%;
}
#opanda-data-table .opanda-col-number {
    width: 1%;
    min-width: 100px;
    border-left: 1px solid #f1f1f1;
    white-space: nowrap;
}
#opanda-data-table td em {
    font-style: normal;
    color: #aaa;
}
#opanda-data-table.opanda-free-table .opanda-col-number {
    white-space: nowrap;
}
#opanda-data-table .opanda-col-title {
    text-align: left;
}
#opanda-data-table .opanda-col-title a {
    text-decoration: none;
}
#opanda-data-table .opanda-col-title a:hover {
    text-decoration: underline;
}

#opanda-data-table th.opanda-column-highlight,
#opanda-data-table td.opanda-column-highlight {
    background-color: #fbfbfb;
    font-weight: bold;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
#opanda-data-table tr:nth-child(odd) td.opanda-column-highlight {
    background-color: #f7f7f7;
}

#opanda-data-table .opanda-empty {
    text-align: left;
    font-style: italic;
}

/**
* Locker Selector Popup
*/

#opanda-locker-select-popup {
    position: absolute;
    padding: 30px;
    background-color: #fff;
    
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    
    width: 400px;
    
    top: 50%;
    
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.08);
    border-radius: 4px;
    z-index: 51;
}
#opanda-locker-select-overlap {
    background-color: #f1f1f1;
    opacity: 0.5;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 50;
}
#opanda-locker-select-popup strong {
    font-size: 18px;
}
#opanda-locker-select-popup p {
    margin-top: 5px;
}