.factory-bootstrap-331 .factory-color-and-opacity .factory-preview-wrap {

}

.factory-bootstrap-331 .factory-control-row {
    padding-left: 105px;
    position: relative;
}
.factory-bootstrap-331 .factory-control-row .factory-color-wrap {
    position: absolute;
    left: 0px;
    top: 0px;
}
.factory-bootstrap-331 .factory-control-row .factory-opacity-wrap {
    width: 100%;
}

.factory-bootstrap-331 .factory-picker-target {
    
}

.factory-bootstrap-331 .iris-picker {
    margin-top: 10px;
}