#side-sortables .factory-bootstrap-331 .factory-buttons-way {
    float: right;
    position: relative;
    top: -25px;
    left: 5px;
    border: 3px solid #f9f9f9;
    border-radius: 4px;
}
.factory-bootstrap-331 .factory-buttons-way {
    border: 3px solid #f9f9f9;
    border-radius: 4px;
}
.factory-bootstrap-331 .factory-buttons-way button {
    padding-left: 10px;
    padding-right: 10px;
}
.factory-bootstrap-331 .factory-buttons-way .factory-on.active {
    text-shadow: none;

    /* Fix for the issue #ticket-22381 */
    color: #fff !important;

    background-color: #33aad5;
    -webkit-box-shadow: inset 0 1px 1px #0074a2;
    box-shadow: inset 0 1px 3px #0074a2;
    border-top: 1px solid #0074a2;
    border-bottom: 1px solid #0074a2;
    border-left: 1px solid #0074a2;
}


.factory-bootstrap-331 .factory-checkbox-tumbler-hint {
    margin-top: 5px;
}
.factory-bootstrap-331 .factory-checkbox-tumbler-hint .factory-tumbler-content {
    display: inline-block;
    background-color: #ffffdd;
    padding: 1px 5px;
}

.admin-color-light .factory-bootstrap-331 .factory-buttons-way .factory-on.active {
    background-color: #04a4cc;
    -webkit-box-shadow: inset 0 1px 2px #037c9a;
    box-shadow: inset 0 1px 2px #037c9a;
    border-top: 1px solid #037c9a;
    border-bottom: 1px solid #037c9a;
    border-left: 1px solid #037c9a;
}
.admin-color-blue .factory-bootstrap-331 .factory-buttons-way .factory-on.active {
    background-color: #e1a948;
    -webkit-box-shadow: inset 0 1px 2px #d39323;
    box-shadow: inset 0 1px 2px #d39323;
    border-top: 1px solid #d39323;
    border-bottom: 1px solid #d39323;
    border-left: 1px solid #d39323;
}
.admin-color-coffee .factory-bootstrap-331 .factory-buttons-way .factory-on.active {
    background-color: #c7a589;
    -webkit-box-shadow: inset 0 1px 2px #b78a66;
    box-shadow: inset 0 1px 2px #b78a66;
    border-top: 1px solid #b78a66;
    border-bottom: 1px solid #b78a66;
    border-left: 1px solid #b78a66;
}
.admin-color-ectoplasm .factory-bootstrap-331 .factory-buttons-way .factory-on.active {
    background-color: #a3b745;
    -webkit-box-shadow: inset 0 1px 2px #839237;
    box-shadow: inset 0 1px 2px #839237;
    border-top: 1px solid #839237;
    border-bottom: 1px solid #839237;
    border-left: 1px solid #839237;
}
.admin-color-midnight .factory-bootstrap-331 .factory-buttons-way .factory-on.active {
    background-color: #e14d43;
    -webkit-box-shadow: inset 0 1px 2px #d02a21;
    box-shadow: inset 0 1px 2px #d02a21;
    border-top: 1px solid #d02a21;
    border-bottom: 1px solid #d02a21;
    border-left: 1px solid #d02a21;
}
.admin-color-ocean .factory-bootstrap-331 .factory-buttons-way .factory-on.active {
    background-color: #9ebaa0;
    -webkit-box-shadow: inset 0 1px 2px #80a583;
    box-shadow: inset 0 1px 2px #80a583;
    border-top: 1px solid #80a583;
    border-bottom: 1px solid #80a583;
    border-left: 1px solid #80a583;
}
.admin-color-sunrise .factory-bootstrap-331 .factory-buttons-way .factory-on.active {
    background-color: #dd823b;
    -webkit-box-shadow: inset 0 1px 2px #c36822;
    box-shadow: inset 0 1px 2px #c36822;
    border-top: 1px solid #c36822;
    border-bottom: 1px solid #c36822;
    border-left: 1px solid #c36822;
}
