/**
 * Pattern Control
 * 
 * @author Alex Kovalev <alex@byonepress.com>
 * @author Paul Kashtanoff <paul@byonepress.com>
 * @copyright (c) 2013-2014, OnePress Ltd
 * 
 * @package factory-forms 
 * @since 3.1.0
 */

.factory-bootstrap-331 .factory-pattern .factory-pattern-controls {
    vertical-align: middle;
}

/**
* Preview
*/

.factory-bootstrap-331 .factory-pattern .factory-preview-wrap {
    display: inline-block;
    vertical-align: middle;
}
.factory-bootstrap-331 .factory-pattern .factory-preview {
    width: 100px; 
    height: 26px;
    background:transparent url('../assets/images/color_picker_pattern.jpg') repeat;
    border:0;  
    border-radius:3px; 
    cursor:pointer;    
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    border-bottom: 2px solid rgba(0,0,0,0.34) !important;
    position: relative;
    
}
.factory-bootstrap-331 .factory-pattern .factory-preview.factory-empty {
    background:transparent url('../assets/images/color_picker_pattern.jpg') repeat !important;
}

/**
* Preview Arrow
*/

.factory-bootstrap-331 .factory-pattern .factory-preview span {
    position:absolute;
    top:0; 
    left:76px;    
    background: #111111;
    width: 26px;
    height: 26px;
    border-radius:0 3px 3px 0;
    -moz-border-radius:0 3px 3px 0;
    -webkit-border-radius:0 3px 3px 0;
    z-index:99;
    border-bottom: 2px solid #000;
}
.factory-bootstrap-331 .factory-pattern .factory-preview span:hover {
    background: #161616; 
}
.factory-bootstrap-331 .factory-pattern .factory-preview span:after {
    content: '';
    width: 0;
    height: 0;
    border: transparent solid 5px;
    border-top-color: #96a6a6;
    position: absolute;
    top: 10px;
    right: 7px;
    z-index: 1;
}
.factory-bootstrap-331 .factory-pattern.factory-patterns-panel-active .factory-preview span:after {
    border-top-color: transparent;
    border-bottom-color: #96a6a6;
    top: 4px;
}

/**
* Color Picker
*/

.factory-bootstrap-331 .factory-pattern .factory-color-panel {
    padding: 10px;
    margin-top: 10px;
    background: rgba(255,255,255,0.04);
    border-radius: 3px;
    display: none;
}
.factory-bootstrap-331 .factory-pattern.factory-color-panel-active .factory-color-panel {
    display: block;    
}
.factory-bootstrap-331 .factory-pattern .factory-color-label {
    margin-right: 5px;
}
.factory-bootstrap-331 .factory-pattern .factory-color-label,
.factory-bootstrap-331 .factory-pattern .factory-color {
    display: inline-block;
    vertical-align: middle;
}
.factory-bootstrap-331 .factory-pattern .factory-color-panel .factory-hint {
    margin-top: 7px;
}

/**
* Available Patterns
*/

.factory-bootstrap-331 .factory-pattern .factory-patterns-panel {
    display: none;
    margin-top: 10px;
    padding: 2px 0 0;
    border-top: 1px solid #272727;
    overflow: visible;
}
.factory-bootstrap-331 .factory-pattern  .factory-patterns-group {
    clear: both;
    padding: 2px 0 0;
    border-bottom: 1px solid #272727;
    padding-bottom: 10px;
}
.factory-bootstrap-331 .factory-pattern .factory-patterns-group-title {
    margin-top: 10px;
}
.factory-bootstrap-331 .factory-pattern  .factory-patterns-row {
    padding-top: 10px;
}
.factory-bootstrap-331 .factory-pattern.factory-patterns-panel-active .factory-patterns-panel {
    display: block;
}
.factory-bootstrap-331 .factory-pattern .factory-patterns-item,
.factory-bootstrap-331 .factory-pattern .factory-patterns-item div {
    width: 46px;
    height: 46px;
}
.factory-bootstrap-331 .factory-pattern .factory-patterns-item {    
    display: inline-block;
    cursor: pointer;
    position: relative;
    vertical-align: top;
}
.factory-bootstrap-331 .factory-pattern .factory-patterns-item + .factory-patterns-item {    
    margin-left: 10px;
}
.factory-bootstrap-331 .factory-pattern .factory-patterns-item div {
    position: absolute;
    border-radius: 100%;
    border: 4px solid #333;
}
.factory-bootstrap-331 .factory-pattern .factory-patterns-item:hover .factory-pattern-holder {
    width: 64px;
    height: 64px;
    top: -10px;
    left: -10px;
    border: 1px solid #333;
    z-index: 10;
}
.factory-bootstrap-331 .factory-pattern .factory-no-preview {
    background: #2f2f2f;
    line-height: 46px;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
}
.factory-bootstrap-331 .factory-pattern .factory-no-preview:hover {
    background: #333;
}


/**
* Control Buttons
*/

.factory-bootstrap-331 .factory-pattern .factory-button .fa {
    font-size: 14px;
    margin-right: 1px;
}
.factory-bootstrap-331 .factory-pattern .factory-button span {
    position: relative;
    top: -1px;
}
.factory-bootstrap-331 .factory-pattern .factory-button + .factory-button {
    margin-left: 3px;
}
.factory-bootstrap-331 .factory-pattern .factory-change-color-btn {
   margin-left: 5px;
}

