.factory-bootstrap-331 .factory-font .factory-control-row {  
    padding:0;
    vertical-align: top;
}
.factory-bootstrap-331 .factory-font .factory-color-wrap {  
    position:static;
    display:inline-block; 
    vertical-align: top;
}
.factory-bootstrap-331 .factory-font .factory-size-wrap {
    display:inline-block;
    width: 70px;
    vertical-align: top;
}
.factory-bootstrap-331 .iris-picker {
    margin-top: 10px;
}
.factory-bootstrap-331 .factory-font .factory-family-wrap {
    padding-bottom: 10px;
}

.factory-bootstrap-331 .factory-font .chosen-results {
      max-height: 150px;
}