
.factory-bootstrap-331 .factory-list li input {
    margin: 0 5px 0 0;
    position: relative;
    top: 1px;
    outline: none !important;
}
.factory-bootstrap-331 .factory-list li span {
    vertical-align: bottom;
    line-height: 100%;
}

/* erorrs */

.factory-bootstrap-331 .factory-list .factory-error {
    position: relative;
    display: inline-block;
}
.factory-bootstrap-331 .factory-list .factory-error i {
    color: #f47665;
    margin: 0 7px 0 1px;
    cursor: help;
}
.factory-bootstrap-331 .factory-list .factory-error-text {
    display: none;
    position: absolute;
    width: 300px;
}
.factory-bootstrap-331 .factory-list .factory-error-text,
.factory-bootstrap-331 .factory-list-error {
    background-color: rgba(0,0,0,0.8);
    white-space: normal;
    z-index: 10;
    padding: 10px 12px 12px 12px;
    font-weight: normal;
    line-height: 150%;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    margin-top: 2px;
}
.factory-bootstrap-331 .factory-list-error {
    padding: 5px 10px;
    max-width: 500px;
    display: inline-block;
}
.factory-bootstrap-331 .factory-list-error i {
    margin: 0 7px 0 1px;
}
.factory-bootstrap-331 .factory-list .factory-error-text a {
    color: #fff;
    font-weight: bold;
}
.factory-bootstrap-331 .factory-list .factory-has-error:hover .factory-error-text {
    display: block;
}
.factory-bootstrap-331 .factory-list .factory-has-error  {
    cursor: default;
}
.opanda-connect-buttons .opanda-has-error .opanda-error {
    display: inline-block;
}

.factory-bootstrap-331 .factory-checklist-way.factory-empty {
    font-style: italic;
    margin-top: 7px;
}