.factory-bootstrap-331 .factory-color {
    position: relative;
}
.factory-bootstrap-331 .factory-color .factory-color-hex {
    width: auto;
    display: inline-block;
    width: 65px;
    text-align: left;
    vertical-align: top;
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-radius: 3px;
    z-index: 1;
    position: relative;
    margin-left: 26px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.factory-bootstrap-331 .factory-color .factory-pattern,
.factory-bootstrap-331 .factory-color .factory-background {
    cursor: pointer;
}

.factory-bootstrap-331 .factory-color .factory-pattern,
.factory-bootstrap-331 .factory-color .factory-background {
    height: 26px;
    width: 26px;
    position: absolute;
    border-radius: 5px;
    background: transparent url('../assets/images/color_picker_pattern.jpg') center center repeat;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    border-bottom: 2px solid rgba(0,0,0,0.34);
    z-index: 1;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.factory-bootstrap-331 .factory-color .factory-background {
    z-index: 2; 
    border-radius: 3px;
}