/**
* More Link
*/

.factory-bootstrap-331 .factory-more-link-content {
    border-top: 1px dashed #DDD;
    padding-top: 25px;
    width: 100%;
    padding-right: 20px;
    position: relative;
}
.factory-bootstrap-331 .factory-tab .factory-more-link-show {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dotted #21759b;
    position: relative;
}
.factory-bootstrap-331 .factory-tab .factory-more-link-show:hover {
    border-color: #d54e21;
}
.factory-bootstrap-331 .factory-tab .factory-more-link-hide {
    position: absolute;
    margin-top: -35px;
    background-color: #fff;
    padding: 0 5px;
    right: 20px;
    color: #bbb;
    text-decoration: none;
}
.factory-bootstrap-331 .factory-tab .factory-more-link-hide:hover {
    color: #999;
}