/**
* jQuery gradient generator
*/
.factory-bootstrap-331 .factory-gradient-picker-wrap {
    margin-bottom:20px;
}
.factory-bootstrap-331 .gradientPicker-preview {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    background:transparent url('../assets/images/color_picker_pattern.jpg') repeat;
}
.factory-bootstrap-331 .factory-color-picker-container {
    display: none;
    padding-top: 15px;
}

.factory-bootstrap-331 .factory-point,
.factory-bootstrap-331 .factory-point-color {	
    position: absolute;
    width: 10px; height: 10px;	
    border:0;
    font-size:0;
    border-radius: 50% 50% 100% 100%;
    -moz-border-radius: 50% 50% 100% 100%;
    -webkit-border-radius: 50% 50% 100% 100%;
    cursor: pointer;
    overflow: hidden;
}
.factory-bootstrap-331 .factory-point-color {
    border-radius: 0px;
}
.factory-bootstrap-331 .factory-point {
    background: transparent url('../assets/images/color_picker_pattern.jpg') repeat;
}
.factory-bootstrap-331 .factory-current-point {
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.factory-bootstrap-331 .factory-points {
    position: relative;
    height: 10px;        
    width: 100%; 
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAWCAYAAADAQbwGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJ1JREFUeNq8VAEKwCAITOn%2FX3ZzTBCxUicTBsvsOO9EIKJhAwCe5H0H4xBvLQgOegV8yZ8AZwJHc8zKI4c53bk6IGNqMH3GCJuMlkeG4p4G1e5Lq1KXatmCM7AdrbLLq7FC0agycx7oXOmk8%2FY%2FPNjRR7s6ZFHFqY5AcasLFDPtpAC7WH7aNkxgO9gdLNv3oWdKiKXX7r8bu6rlJcAA9ZRfMt5oHoIAAAAASUVORK5CYII%3D') 5 0,pointer;
}
.factory-bootstrap-331 .gradientPicker-iris-wrap {
        display:none;
	position: absolute;
        left:0; top:78px;
	width: 212px;
	height: 212px;  
        background:#111;
        border:1px solid #222;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
	z-index: 9999;        
	
}
.factory-bootstrap-331 .gradientPicker-iris-wrap .iris-border, .factory-bootstrap-331 .gradientPicker-iris-wrap .iris-picker {
       border:0;
       background:#111;
}

/* Preset Gradients */

.factory-bootstrap-331 .gradientPicker-pallets {
    padding: 8px 0px 3px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #323232;
    border-top: 1px solid #323232; 
    font-size: 0px;
    line-height: 0px;
    text-align: center;
}

.factory-bootstrap-331 .factory-preset-gradient,
.factory-bootstrap-331 .factory-secondary-color {
    width: 22px;
    height: 22px;
    border-radius: 100%;
}

.factory-bootstrap-331 .factory-preset-gradient {
    display:inline-block;
    cursor: pointer;
    margin-bottom: 3px;
    position: relative;
}
.factory-bootstrap-331 .factory-preset-gradient:hover {
    opacity: 0.9;
}
.factory-bootstrap-331 .factory-preset-gradient + .factory-preset-gradient {
    margin-left: 5px;
}
.factory-bootstrap-331 .factory-secondary-color-wrap {
    width: 11px;
    height: 22px;
    position: absolute;
    overflow: hidden;
    right: 0px;
}
.factory-bootstrap-331 .factory-secondary-color {
    position: absolute;
    left: -11px;
    background-color: red;
}

.factory-bootstrap-331 .gradientPicker-filldirection {
        width:200px;
        margin-top:5px;
}
.factory-bootstrap-331 .gradientPicker-ptConfig .color-chooser {
	float: left;
}

/**
* Color
*/

.factory-bootstrap-331 .factory-color-picker-container .factory-slider {
    padding-left: 75px;
    padding-right: 60px;
    position: relative;
}
.factory-bootstrap-331 .factory-color-picker-container .factory-color-hex {
    top: 0;
    left: 0;
    position: absolute;
    width: 65px;
} 

