/**
* jQuery Paddings
*
* @uses plugin.nouislider
*/

.factory-bootstrap-331 .factory-paddings-editor {
    padding-left: 135px;
    height: 90px;
    position: relative;
}

.factory-bootstrap-331 .factory-paddings-editor .factory-rectangle {
    width: 120px;
    height: 90px;
    border-radius: 10px;
    background-color: #a6b6b6;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
    position: absolute;
    top: 0px;
    left: 0px;
}
.factory-bootstrap-331 .factory-paddings-editor .factory-side {
    width: 100%;
    height: 100%;
    position: absolute;
}


.factory-bootstrap-331 .factory-paddings-editor .factory-side-center {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #bac9c9;   
    position: absolute;
    top: 30px;
    left: 45px;
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
}
.factory-bootstrap-331 .factory-paddings-editor .factory-side-center:hover {
    background-color: #c0cece;
}
.factory-bootstrap-331 .factory-paddings-editor .factory-side-center.factory-active {
    background-color: #829595;
}

.factory-bootstrap-331 .factory-paddings-editor .factory-side-top {
    height: 30px;       /* = ( rectangle_height - center_button_height ) / 2 */
    top: 0px;
    left: 0px;
}
.factory-bootstrap-331 .factory-paddings-editor .factory-side-right {
    width: 45px;        /* = ( rectangle_width - center_button_width ) / 2 */
    top: 0px;
    right: 0px;
}
.factory-bootstrap-331 .factory-paddings-editor .factory-side-bottom {
    height: 30px;       /* = ( rectangle_height - center_button_height ) / 2 */
    bottom: 0px;
    left: 0px;
}
.factory-bootstrap-331 .factory-paddings-editor .factory-side-left {
    width: 45px;        /* = ( rectangle_width - center_button_width ) / 2 */
    top: 0px;
    left: 0px;
}

.factory-bootstrap-331 .factory-paddings-editor .factory-rectangle .factory-visible-value {
    color: #1b1f1f;
    background-color: rgba(255,255,255,0.3);
    border-radius: 3px;
    padding: 2px;
    line-height: 13px;
    display: inline-block;
}
.factory-bootstrap-331 .factory-paddings-editor .factory-rectangle .factory-side.factory-active .factory-visible-value {
    background-color: rgba(255,255,255,0.3);
    border-radius: 3px;
    padding: 2px;
    line-height: 13px;
    display: inline-block;
}
.factory-bootstrap-331 .factory-paddings-editor .factory-visible-value em {
    font-style: normal;
}

.factory-bootstrap-331 .factory-paddings-editor .factory-side-top,
.factory-bootstrap-331 .factory-paddings-editor .factory-side-bottom {
    text-align: center;
    line-height: 30px;  /* = side_height */
}
.factory-bootstrap-331 .factory-paddings-editor .factory-side-left,
.factory-bootstrap-331 .factory-paddings-editor .factory-side-right {
    line-height: 90px;  /* = side_height */
    text-align: center;
}

.factory-bootstrap-331 .factory-paddings-editor .factory-slider-container {
    font-style: italic;
}
.factory-bootstrap-331 .factory-paddings-editor .factory-slider {
    padding-right: 0px;
    margin-top: 7px
}